@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default Dark Mode Colors */
  --color-void: #101012;
  --color-surface: #1c1c1f;
  --color-primary: #ffb000;
  --color-secondary: #e05a00;
  --color-tertiary: #00a3a3;
  --color-bone: #cec5b5;
  --color-dim: #6b6b6b;
  --grid-color: #333;
}

/* Light Mode Overrides */
:root[class~="light"] {
  --color-void: #f2f2f2;
  --color-surface: #ffffff;
  --color-primary: #d99600;
  --color-secondary: #d15400;
  --color-tertiary: #008f8f;
  --color-bone: #101012;
  --color-dim: #666666;
  --grid-color: transparent;
}

body {
  background-color: var(--color-void);
  color: var(--color-bone);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  padding: 0;
}
